############################
### IntelliJ IDEA ###
############################
.idea/
*.iml
out/

############################
### Build outputs ###
############################
# Maven
target/

# Gradle
.gradle/
build/

############################
### Compiled files ###
############################
*.class

############################
### Logs ###
############################
*.log

############################
### Environment files ###
############################
.env
.env.*

############################
### OS files ###
############################
.DS_Store
Thumbs.db